* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{overflow-x: hidden;}
header {
	padding: 1%;
}

a, i{
	color: black;
}
/*segundo navegador */

.nav-two a{
	color: black;
}
/*  */
.color-content{
	border-color: #888;
	border-top: solid 1px;
}
.boton-web {
	background-color: black;
	margin-right: 5%;
	padding: 0.5% 6%;
	color: white;
	transition:all 0.5s ease;
}
.boton-web:hover {
	background-color:#00F0FF ;
	color:white;
	transition: all 0.5s ease;
}
.box{
	padding: 2% 5%;
	background: #848484;
	width: 46%;
	margin:0 2% 5% 0;
	color: white;
}
.agenda p{
	background-color:#BDBDBD;
	color: black;
	text-align: center;
	font-size: 1.25em;
    padding: 20% 0;
}
.lema{
	padding: 5% 11% 5% 5%;
}
/* footer */
.color-footer{
	border-color: #888;
	border-top: solid 5px;
	padding: 2% 0 5% 0;
}

.rubros, .suscripcion, .nosotros, .contacto{
	height: 175px;
}

/*para que el navegador aparesca uno abajo de otro */
@media (max-width: 767px){
	.nav-tabs>li{
		float: none
	}
}